body {
    margin: 0;
    height: 500px;
}


article {
    width: 50%;
    height: 100%;
    padding: 90px;

    position: relative;

    border: 5px solid blue;
}

h1 {
    font-size: 50px;
    color: blue;
    border-bottom: blue solid;
}

p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.span-positioned {
    display: block;
    width: 100px;
    height: 100px;

    position: absolute;
    top: 60px;
    right: 60px;

    text-align: center;
    line-height: 100px;
    font-size: 20px;
    color: red;
    border: 2px solid red;
    border-radius: 100%;
}

a {
    padding: 5px;

    border: 1px solid blue;
    color: blueviolet;
    border-radius: 10px;
    text-decoration: none;
}

.link-share {
    position:absolute;
    top: 600px;
    right: 940px;
}





